{% extends 'base.html.twig' %}

{% block title %}Création d'une Sortie !{% endblock %}

{% block body %}

<div class="example-wrapper pt-5 pb-5">
    <div class="container text-center">
        <h1>Créer une sortie</h1>
    </div>
    {% form_theme form 'bootstrap_5_layout.html.twig' %}
    {{ form(form) }}
    <a class="btn btn-primary" href="{{ path('app_home') }}">Annuler</a>
</div>
{% endblock %}
