{% extends 'base.html.twig' %}

{% block title %}Ajouter des utilisateurs!{% endblock %}

{% block body %}

<div>
    <h1>Ajout d'utilisateur(s) à partir d'un fichier CSV</h1>
    
    {% form_theme form 'bootstrap_5_layout.html.twig' %}
    {{ form(form) }}
</div>
{% endblock %}
